:root {
  --vp-font-family-base: 'LXGW WenKai Lite', 'Inter var experimental', 'Inter var', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --vp-font-family-mono: 'LXGW WenKai Mono Lite', ui-monospace, SFMono-Regular, 'SF Mono', Menlo,
    Monaco, 'JetBrains Mono', Consolas, 'Liberation Mono', 'Courier New', monospace;
}

:root {
  --my-black-light: #13212e;
  --my-blue: #1174b1;
  --my-blue-dark: #4df5ff;
  --my-blue-light: #2b7b86;
  --my-gray: #9fa3a5;
  --my-gray-dark: #364149;

  --vp-c-bg: #e0e0e0;
  --vp-c-bg-1: #d0d0d0;
  --vp-c-bg-2: #f0f0f0;
  --vp-c-brand: var(--my-blue-light);
}

.dark {
  --vp-c-bg: #2a2d2f;
  --vp-c-bg-1: #333739;
  --vp-c-bg-2: #202325;
  --vp-c-text: #fff;
  --vp-c-brand: var(--my-blue-dark);
}

#app {
  min-height: 100vh;
  position: relative;
}

.theme {
  background-color: var(--vp-c-bg);
}

.profile {
  border: solid 2pt var(--my-blue);
  border-radius: 15px;
}
