:root {
  --vp-font-family-base: 'LXGW WenKai Lite', 'Inter var experimental', 'Inter var', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --vp-font-family-mono: 'LXGW WenKai Mono Lite', ui-monospace, SFMono-Regular, 'SF Mono', Menlo,
    Monaco, 'JetBrains Mono', Consolas, 'Liberation Mono', 'Courier New', monospace;
}

:root {
  --my-white: #faf6f1;
  --my-black: #0c1222;
  --my-black-light: #13212e;
  --my-blue: #1174b1;
  --my-blue-dark: #2b7b86;
  --my-blue-light: #4df5ff;
  --my-gray: #9fa3a5;
  --my-gray-dark: #364149;
}

:root {
  --vp-c-bg: var(--my-black);
  --vp-c-text-1: var(--my-white);
  --vp-c-text-2: var(--my-gray);
  --vp-nav-bg-color: var(--my-black);
  --vp-c-bg-soft: var(--my-black-light);
  --vp-c-brand: var(--my-blue-light);
  --vp-c-mute: var(--my-black);
  --vp-c-text-code: var(--my-white);
  --vp-code-block-bg: var(--my-black-light);
  --vp-c-divider: var(--my-blue);
  --vp-c-brand-dark: var(--my-blue-dark);
  --vp-c-bg-alt: var(--my-black-light);
  --vp-c-bg-elv: var(--my-black);
  --vp-custom-block-details-bg: var(--my-black-light);
  --vp-custom-block-details-text: var(--my-white);
  --vp-c-bg-elv-mute: var(--my-gray-dark);
  --vp-c-gutter: var(--my-blue);
  --vp-c-brand-1: var(--my-blue-light);
}

.VPLocalNav {
  border-bottom: 1px solid var(--my-blue) !important;
}

.vp-doc :not(pre) > code {
  white-space: nowrap;
  background-color: var(--my-black-light);
  color: var(--my-blue-light);
}

.content {
  border-left: none !important;
}

.translations button {
  display: block;
  margin: 0 auto;
}

.translations a {
  display: block;
  margin: 0 auto;
}

.vp-doc img,
.vp-doc .twitter-tweet {
  display: block;
  margin: 0 auto;
}

.VPLink {
  font-weight: bold !important;
  text-align: center;
}

.vp-doc ul {
  color: var(--my-white) !important;
}

.vp-doc td {
  border: 1px solid var(--my-blue-dark);
}

.vp-doc blockquote > p {
  color: var(--my-white) !important;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.vp-doc blockquote {
  border-left: none !important;
  background-color: var(--my-gray-dark);
  display: flex;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.vp-doc blockquote::before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  background-color: var(--my-blue);
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
}

.affiliation {
  color: var(--my-blue-light) !important;
}

.vp-doc a {
  color: var(--my-blue-light);
  border-bottom: solid 2px var(--my-blue-light);
}

.vp-doc a:hover {
  color: var(--my-blue-dark);
  text-decoration: none;
  border-bottom: solid 2px var(--my-blue-dark);
}

.VPFooter a {
  color: var(--my-blue-light);
}

.VPFooter a:hover {
  color: var(--my-blue-dark);
  text-decoration: none;
}

.header-anchor,
.VPSocialLink {
  border-bottom: none !important;
}

.vp-doc img {
  border-radius: 5px;
}

.vp-doc ol {
  padding-left: 2rem;
}

.VPNavBarTitle {
  font-style: italic;
}

.DocSearch-Button {
  height: 30px;
}

.VPDocAsideOutline {
  border: solid 2pt var(--my-blue);
  border-radius: 15px;
  background-color: var(--my-black-light);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(104, 104, 104);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--my-gray);
}

.search-input::placeholder {
  color: var(--my-gray);
}

.VPNavBarTitle a {
  color: var(--my-blue-light) !important;
}

.VPNavBarTitle a:hover {
  color: var(--my-blue-dark) !important;
}

.profile {
  border: solid 2pt var(--my-blue);
  border-radius: 15px;
}

.VPNav {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--my-blue);
}

.header {
  border: 2pt var(--my-blue);
}

.VPFooter {
  background-color: var(--vp-nav-bg-color) !important;
  border-top: 2px solid var(--my-blue) !important;
}

:root {
  --docsearch-hit-background: var(--my-black);
  --docsearch-hit-color: var(--my-white);
  --docsearch-hit-active-color: var(--my-blue-light);
  --docsearch-key-gradient: var(--my-black);
  --docsearch-modal-shadow: none;
  --docsearch-hit-shadow: none;
  --docsearch-footer-shadow: none;
  --vp-c-white: var(--my-black);
}

.DocSearch-Hit a {
  border: 2px solid var(--my-blue);
}

.DocSearch {
  --docsearch-modal-background: var(--my-black);
  --docsearch-primary-color: var(--my-black);
  --docsearch-muted-color: var(--my-white);
}

.DocSearch svg {
  color: var(--my-white);
}

.DocSearch-Hit[aria-selected='true'] a {
  border: 2px solid var(--my-blue-light);
}

.DocSearch-Hit mark {
  color: var(--my-blue-light);
}

.DocSearch-Hit-action-button:hover path {
  fill: var(--my-white);
}

.DocSearch-Search-Icon {
  color: var(--my-white);
}

.DocSearch-Commands-Key {
  background-color: var(--my-black-light);
  border: 1px solid var(--my-gray-dark);
  border-radius: 5px;
}

.DocSearch-HitsFooter {
  margin-bottom: 0;
  padding: 0;
}

.DocSearch-Hit-source {
  color: var(--my-blue-light);
}

.DocSearch-Cancel {
  color: var(--my-white);
}

.DocSearch-Input::placeholder {
  color: var(--my-gray);
}

.DocSearch-Prefill {
  color: var(--my-blue-light);
}
